<div class="container justify-content-center mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12 col-sm-12 " data-aos="fade-up" data-aos-duration="1500"><h1 class="text-center">Formación académica</h1></div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12" data-aos="flip-left" data-aos-duration="2000"><img src="../assets/resources/cecyt.jpg" class="d-block mx-auto" width="200px" height="180px" alt="Vocacional 5">
            <p class="text-center">“Técnico en Informática”</p>
            <p class="text-center">2013-2016</p></div>

        <div class="col-lg-4 col-md-4 col-sm-12" data-aos="flip-left" data-aos-duration="2000"><img src="../assets/resources/logoIpn.png" class="d-block mx-auto" width="240px" height="180px" alt="Instituto Politecnico Nacional">
        <p class="text-center">"La técnica al servicio de la patria"</p></div>

        <div class="col-lg-4 col-md-4 col-sm-12" data-aos="flip-left" data-aos-duration="2000"><img src="../assets/resources/logoUpiicsa.png" class="d-block mx-auto" width="170px" height="180px" alt="UPIICSA">
            <p class="text-center">“Ingeniería en Informática”</p>
            <p class="text-center">2017-2021</p></div>
    </div>
</div>