<header class="row mt-3">
  <div class="card card-body bg-dark text-light"  data-aos="fade-right"
  data-aos-duration="1000">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-lg-4 justify-content-center mt-3 mb-3">
        <img src="../assets/resources/Ernesto.jpeg" class="img-fluid imgPerfil d-block mx-auto" alt="Ernesto Morales Ramos">
      </div>
      <div class="col-md-8 col-sm-12 col-lg-8 mt-5" >
        <h1>Ernesto Morales Ramos</h1>
        <p class="text-justify">Mi edad es 24 años y me apasiona mucho la informática y el desarrollo de
          aplicaciones, soy un chico muy entusiasta y siempre abierto a aprender.
          Me encanta que se hable bien de mi trabajo por lo cual siempre doy lo
          mejor en cada uno de mis proyectos, me comprometo siempre a elaborar
          cada uno de ellos de la mejor manera. Soy una persona extrovertida que
          disfruta mucho trabajar en equipo y tiene buena capacidad de
          comunicación. Mis hobbies son jugar fútbol y bailar.</p>
      </div>
    </div>
  </div>
</header>
