<div class="banner">
    <div class="row mb-10 "data-aos="zoom-in"data-aos-duration="2000">
        <div class="col-12 text-dark">
          <ul class="nav nav-pills justify-content-center">
            <li class="nav-item"><a class="nav-link text-white" href="#QuienSoy">¿Quien soy?</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#Formacion">Formación académica</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#Experiencia">Experiencia laboral</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#Habilidades">Habilidades</a></li>
            
          </ul>
        </div>
      </div>

      <div class="Nombre text-white"data-aos="fade-down" data-aos-duration="2500"><h1 class="display-3">Ernesto Morales Ramos</h1>
      <p>Web Developer</p></div>
</div>


<div class="container">





  <div class="row" id="QuienSoy">
    <app-quien-soy></app-quien-soy>
  </div>

  <div class="row" id="Formacion">
    <app-formacion></app-formacion>
  </div>

  <div class="row" id="Experiencia">
    <app-experiencia></app-experiencia>
  </div>

  <div class="row" id="Habilidades">
    <app-habilidades></app-habilidades>
  </div>
</div>


  
    <div class="container-fluid mt-5">
      <div class="row align-items-center bg-dark">
        <div class="col-lg-3 col-md-3 col-sm-4 bg-dark text-light text-right">
          <p>Dirección: Emiliano Zapata #74, Int. C-402, Venustiano Carranza</p>
          <p>Teléfono: 55-85-86-52-13</p>
          <p>Correo: moralestito569@gmail.com</p></div>
        <div class="col-lg-6 col-md-6 col-sm-4 bg-dark text-light text-center justifr-content-center"><p>Ernesto Morales Copyright</p></div>
        <div class="col-lg-3 col-md-3 col-sm-4 bg-dark ">
          <a href="https://www.linkedin.com/in/ernesto-morales-ramos-253921212/" target="_blank" class="p-2"><img src="../assets/resources/logoLinkedin.png" class="pr-2 d-block mx-auto" width="25px" height="30px" alt="LinkedinErnesto"></a> 
          <a href="https://www.instagram.com/moralestito30/"target="_blank" class="p-2"><img src="../assets/resources/Logoinstagram.png" target="_blank" class="pr-2 d-block mx-auto" width="25px" height="30px" alt="InstagramErnesto"></a> 
          <a href="https://www.facebook.com/tito.morales.3158" target="_blank"class="p-2"><img src="../assets/resources/Logofacebook.png"target="_blank" class="pr-2 d-block mx-auto" width="25px" height="30px" alt="FacebookErnesto"></a> 
          </div>
    </div>