<div class="container-fluid justify-items-center mt-5">
  <div class="row justify-content-center">
    <div
      class="col-lg-12 col-md-12 col-sm-12"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <h1 class="text-center">Experiencia laboral</h1>
    </div>
  </div>

  <div class="row justify-items-center mt-5">
    <div
      class="col-lg-4 col-md-4 col-sm-12"
      data-aos="fade-right"
      data-aos-duration="2000"
    >
      <h1>Honorable Cámara de diputados</h1>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
      <img
        src="../assets/resources/logoCamara.jpg"
        class="d-block mx-auto"
        width="130px"
        height="70px"
        alt="Cámara de diputados"
      />
    </div>
    <div
      class="col-lg-6 col-md-6 col-sm-12"
      data-aos="fade-left"
      data-aos-duration="2000"
    >
      <ul>
        <li>Desarrollo de página web de la diputada Marivel Solís Barrera.</li>
        <li>
          Coordinación de eventos a cargo de la Comisión de Ciencia, Tecnología
          e Innovación.
        </li>
        <li>Logística y estratégia de la programación de los eventos.</li>
      </ul>
    </div>
  </div>

  <div class="row justify-items-center mt-5">
    <div
      class="col-lg-4 col-md-4 col-sm-12"
      data-aos="fade-right"
      data-aos-duration="2600"
    >
      <h1>Grupo Polak</h1>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
      <img
        src="../assets/resources/Polak.png"
        class="d-block mx-auto"
        width="130px"
        height="70px"
        alt="Grupo Polak"
      />
    </div>
    <div
      class="col-lg-6 col-md-6 col-sm-12"
      data-aos="fade-left"
      data-aos-duration="2600"
    >
      <ul>
        <li>Desarrollo de páginas web</li>
        <li>Desarrollo de aplicaciones en Genexus 17.</li>
        <li>Marketing digital.</li>
        <li>Analista de datos para decisiones empresariales.</li>
        <li>
          Desarrollo de campañas de venta y layouts para campaña de venta.
        </li>
      </ul>
    </div>
  </div>
</div>
